<ion-view title="Apple Aid" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="appleAid-heading2" style="color:#73AC10;">Welcome</h1>
    <div>
      <img src="img/I77IbvPLQUKYJ5xdLsY7_awsomnesssssss.png" style="display: block; width: 30%; margin-left: auto; margin-right: auto;">
    </div>
    <form id="appleAid-form5" class="list">
      <label class="item item-input" id="appleAid-textarea3">
        <span class="input-label">Hello, what is your full name?</span><textarea placeholder=""></textarea></label>
    </form>
    <div class="spacer" style="width: 300px; height: 129px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="whatTypesOfTVDoYouWatch" id="appleAid-button6" style="left:-10px;" class="button button-assertive  button-full">Take Survey for entry</a>
    </div>
  </ion-content>
</ion-view>