<ion-view title="Good Morning Kendrick" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="goodMorningKendrick2-form4" class="list">
      <label class="item item-input" id="goodMorningKendrick2-textarea6">
        <span class="input-label">Today is Sunday, March 12, 2017</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="goodMorningKendrick2-button-bar3" class="button-bar">
      <button id="goodMorningKendrick2-button14" class="button button-balanced  button-block button-outline icon ion-university"></button>
      <button id="goodMorningKendrick2-button15" class="button button-balanced  button-block button-outline icon ion-ios-book"></button>
      <button id="goodMorningKendrick2-button16" class="button button-balanced  button-block button-clear icon ion-trophy"></button>
      <button id="goodMorningKendrick2-button17" class="button button-balanced  button-block button-outline icon ion-ios-people"></button>
    </div>
    <ion-list id="goodMorningKendrick2-list4">
      <ion-item class="item-icon-left" id="goodMorningKendrick2-list-item12">
        <i class="icon ion-ios-basketball"></i>Basketball practice at 5:00 M-W</ion-item>
      <ion-item class="item-icon-left" id="goodMorningKendrick2-list-item13">
        <i class="icon ion-trophy"></i>Game Day on Thursday</ion-item>
      <ion-item class="item-icon-left" id="goodMorningKendrick2-list-item17">
        <i class="icon ion-heart"></i>Ballet on Friday at 6 pm</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 137px;"></div>
    <button id="goodMorningKendrick2-button18" class="button button-assertive  icon ion-android-add"></button>
  </ion-content>
</ion-view>