<ion-view title="     Good Morning Kendrick " id="page7">
  <ion-content padding="true" class="has-header">
    <form id="GoodMorningKendrick-form10" class="list">
      <label class="item item-input" id="GoodMorningKendrick-textarea5">
        <span class="input-label">Today is Sunday, March 12, 2017</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="GoodMorningKendrick-button-bar1" class="button-bar">
      <button id="GoodMorningKendrick-button13" class="button button-balanced  button-block button-outline icon ion-university"></button>
      <button id="GoodMorningKendrick-button14" class="button button-balanced  button-block button-clear icon ion-ios-book"></button>
      <button id="GoodMorningKendrick-button15" class="button button-balanced  button-block button-outline icon ion-trophy"></button>
      <button id="GoodMorningKendrick-button16" class="button button-balanced  button-block button-outline icon ion-ios-people"></button>
    </div>
    <a href-inappbrowser="https://www.merriam-webster.com/" id="GoodMorningKendrick-button17" class="button button-assertive  button-block icon-right ion-ios-bookmarks">To Dictionary/Thesaurus</a>
    <a href-inappbrowser="https://www.google.com/webhp?sourceid=chrome-instant&amp;ion=1&amp;espv=2&amp;ie=UTF-8#q=caculator&amp;*" id="GoodMorningKendrick-button10" class="button button-assertive  button-block icon-right ion-calculator">Calculator</a>
    <a href-inappbrowser="https://www.google.com/webhp?sourceid=chrome-instant&amp;ion=1&amp;espv=2&amp;ie=UTF-8#q=timer&amp;*" id="GoodMorningKendrick-button11" class="button button-assertive  button-block icon-right ion-clock">Timer</a>
    <a href-inappbrowser="https://www.youtube.com/channel/UClULmcrnoLa2uLkPKIf1gXA" id="GoodMorningKendrick-button12" class="button button-assertive  button-block icon-right ion-social-youtube">Browser (with wifi)</a>
    <button id="GoodMorningKendrick-button18" class="button button-balanced  icon ion-plus"></button>
  </ion-content>
</ion-view>