<ion-view title="What are your favorite subjects in shool" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="whatAreYourFavoriteSubjectsInShool-form7" class="list">
      <ion-checkbox id="whatAreYourFavoriteSubjectsInShool-checkbox7">Science</ion-checkbox>
      <ion-checkbox id="whatAreYourFavoriteSubjectsInShool-checkbox8">Math</ion-checkbox>
      <ion-checkbox id="whatAreYourFavoriteSubjectsInShool-checkbox9">Language Arts</ion-checkbox>
      <ion-checkbox id="whatAreYourFavoriteSubjectsInShool-checkbox10">History</ion-checkbox>
      <ion-checkbox id="whatAreYourFavoriteSubjectsInShool-checkbox12">Art</ion-checkbox>
      <div class="spacer" style="height: 100px;"></div>
    </form>
    <a ui-sref="whatAreYourFavoriteTypeOfFood" id="whatAreYourFavoriteSubjectsInShool-button8" class="button button-assertive  button-block">Next Page</a>
  </ion-content>
</ion-view>