<ion-view title="What are your favorite type of food" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="whatAreYourFavoriteTypeOfFood-form8" class="list">
      <ion-checkbox id="whatAreYourFavoriteTypeOfFood-checkbox13">Asian</ion-checkbox>
      <ion-checkbox id="whatAreYourFavoriteTypeOfFood-checkbox14">Italian</ion-checkbox>
      <ion-checkbox id="whatAreYourFavoriteTypeOfFood-checkbox15">African</ion-checkbox>
      <ion-checkbox id="whatAreYourFavoriteTypeOfFood-checkbox16">Mexican</ion-checkbox>
      <ion-checkbox id="whatAreYourFavoriteTypeOfFood-checkbox17">American</ion-checkbox>
      <div class="spacer" style="height: 100px;"></div>
    </form>
    <a ui-sref="whereDoYouSeeYourselfIn20Yesrs" id="whatAreYourFavoriteTypeOfFood-button9" class="button button-assertive  button-block">Next Page</a>
  </ion-content>
</ion-view>