<ion-view title="What Types of TV do you watch ?" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="whatTypesOfTVDoYouWatch-form6" class="list">
      <ion-checkbox id="whatTypesOfTVDoYouWatch-checkbox1">Drama</ion-checkbox>
      <ion-checkbox id="whatTypesOfTVDoYouWatch-checkbox2">Action</ion-checkbox>
      <ion-checkbox id="whatTypesOfTVDoYouWatch-checkbox3">Horror</ion-checkbox>
      <ion-checkbox id="whatTypesOfTVDoYouWatch-checkbox4">Comedy</ion-checkbox>
      <ion-checkbox id="whatTypesOfTVDoYouWatch-checkbox5">Documentary</ion-checkbox>
      <ion-checkbox id="whatTypesOfTVDoYouWatch-checkbox6">Other</ion-checkbox>
      <div class="spacer" style="width: 300px; height: 42px;"></div>
    </form>
    <a ui-sref="whatAreYourFavoriteSubjectsInShool" id="whatTypesOfTVDoYouWatch-button7" class="button button-assertive  button-block">Next Page</a>
  </ion-content>
</ion-view>